:root {
  --brosNavy: #12192c;
  --brosYellow: #f1ee23;
  --brosGrey: #6c7880;
}
html {
  min-height: 100vh;
  min-width: 100vw;
}
body {
  margin: 0;
}
h1,
h3,
p,
button {
  margin: 0;
  padding: 0;
}

/* Navbar */

#navbar {
  position: sticky;
  top: 0;
  background-color: var(--brosNavy);
  padding: 0.6rem 0 0.6rem 0;
  width: 100%;
  z-index: 1;
}

nav div {
  position: relative;
  margin: auto;
  width: 77%;
}

.logo {
  width: 40px;
  object-fit: contain;
  float: left;
  transform: translateY(15%);
}

.dropdown-button {
  display: block;
  margin-left: auto;
  width: 53px;
  background-color: transparent;
  border: 1px solid #f1ba29;
  border-radius: 4px;
  padding: 4px 12px;
}
.dropdown-button img {
  width: 100%;
  vertical-align: middle;
}

.dropdown {
  padding: 0;
  margin: 0 auto;
  height: 0;
  max-height: 38vh;
  overflow: scroll;
  list-style-type: none;
  font-family: 'Roboto';
  font-weight: 400;
  letter-spacing: 4px;
  transition: height 0.3s linear;
}
.dropdown li {
  padding: 8px 0;
}
.dropdown li a {
  text-decoration: none;
  color: var(--brosYellow);
  font-size: 15px;
}
.dropdown li a:target {
  scroll-margin-top: 2rem;
}
.dropdown li a:hover {
  color: white;
}
.dropdown-button:focus + .dropdown {
  height: 38vh;
  transition: height 0.2s linear;
}

/* Main Container */
main {
  padding: 1.5rem;
}

.main-container {
  margin: auto;
  max-width: 77vw;
}

/* Items */
.item-container {
  padding: 0.6rem;
  border: 1px solid black;
  margin-bottom: 3rem;
}

.item-container-header {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 1.4rem;
  letter-spacing: 3px;
  color: var(--brosYellow);

  background-color: var(--brosNavy);
  padding: 15px 20px 15px 20px;
  margin-bottom: 1.2rem;
}

.meal {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 1rem;

  padding: 10px;
  text-align: center;
}
.item {
  font-family: 'Roboto';
  margin-bottom: 1rem;
}
.item > p {
  font-family: sans-serif;
  color: var(--brosGrey);
  font-size: 0.8rem;
  font-weight: lighter;
  padding: 0.5rem 0;
  opacity: 0.8;
}

.item-title {
  position: relative;
  border-bottom: 1px dotted rgba(108, 120, 128, 0.5);
  font-weight: 400;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 0.5px;
}

.item-title p:nth-child(2) {
  position: absolute;
  font-size: 13px;
  top: 50%;
  transform: translateY(-50%);
  right: 2%;
}
